$green: #29BA7F;
$white: #F2F2F2;
$mainWhite: #A9AAB6;
$red: #D6474F;
$additional1: #686A7E;
$additional2: #156746;
$yellow: #F5BC42;
$purple: #9543FF;

$bgMain: #191922;
$bgSidebar: #1E1F29;
$bgFooter: #171720;
$bgPopUp: linear-gradient(180deg, rgba(46, 46, 61, 0.48) 1.28%, rgba(30, 30, 40, 0.7) 100%);