.glowing {
    user-select: none;
    position: absolute;
    z-index: -1;
    user-select: none;
    filter: blur(125px);

    &_1 {
        top: 0;
        right: 0;
    }
    &_2 {
        top: 0;
        left: 0;
    }
    &_3 {
        bottom: -160px;
        right: -240px;
        filter: blur(150px)
    }
    &_4 {
        top: 220px;
        left: 50%;
        transform: translateX(-50%);
    }
    &_5 {
        top: 140px;
        left: 0;
    }
    &_6 {
        top: 0;
        left: -420px;
    }
    &_7 {
        right: -288px;
        top: -150px;
    }
    &_8 {
        bottom: 50px;
        right: 0;
        z-index: 2;
    }
    &_9 {
        left: -300px;
        bottom: -165px;
    }
    &_10 {
        right: -410px;
        top: 0;
    }
    &_11 {
        left: -182px;
        bottom: -100px;
    }
    &_12 {
        right: -200px;
        top: -115px;
    }
    &_13 {
        left: 0;
        bottom: 0;
    }
}
.lines {
    user-select: none;
    position: absolute;
    z-index: -1;
    user-select: none;
    &_2 {
        left: 0;
        top: -204px;
    }
    &_3 {
        right: 0;
        bottom: -20px;
    }
}
.bg {
    user-select: none;
    position: absolute;
    z-index: -1;
    &_promo {
        right: -100px;
        top: 62px;
        z-index: 2;
    }
    &_become {
        left: 50%;
        top: 200px;
        // box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.3);
        border-radius: 16px;
        transform: translate(-50%) rotate(-4deg);
    }
}
.decor {
    user-select: none;
    position: absolute;
    max-width: none;
    &_1 {
        top: 12px;
        left: 36px;
    }
    &_2 {
        transform: rotate(-4deg);
        right: 2px;
        top: 160px;
        box-shadow: -20px 25px 30px rgba(21, 21, 24, 0.8);
        border-radius: 6px;
    }
    &_3 {
        left: 368px;
        top: 150px;
    }
    &_4 {
        left: -192px;
        top: -98px;
    }
    &_5 {
        left: 600px;
        top: 180px;
    }
    &_6 {
        width: 24px;
        height: 24px;
        left: 125px;
        top: 75px;
    }
    &_7 {
        left: -35px;
        bottom: 191px;
    }
    &_8 {
        width: 16px;
        height: 16px;
        bottom: 29px;
        right: 169px;
    }
    &_9 {
        right: 0;
        bottom: 0;
        z-index: 2;
        transform: rotate(2deg);
    }
    &_10 {
        left: -25px;
        top: 200px;
    }
    &_11 {
        left: 381px;
        top: 233px;
    }
    &_12 {
        left: -200px;
        bottom: -71px;
        z-index: -1;
    }
    &_13 {
        right: -183px;
        bottom: -86px;
        z-index: -1;
    }
    &_14 {
        top: 301px;
        left: 537px;
        transform: rotate(-2deg);
    }
    &_15 {
        top: 469px;
        left: 465px;
        transform: rotate(1deg);
    }
    &_16 {
        top: 582px;
        left: 362px;
    }
    &_17 {
        right: 277px;
        bottom: 248px;
        transform: rotate(-3deg);
    }
    &_18 {
        z-index: -2;
        opacity: .5;
        right: calc(50% + 444px);
        top: 50%;
        transform: translateY(-50%);
    }
    &_19 {
        z-index: -2;
        opacity: .5;
        left: calc(50% + 444px);
        top: 50%;
        transform: translateY(-50%);
    }
    &_20 {
        top: 155px;
        left: 52%;
        transform: translateX(-50%);
    }
}