.header {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 32px;
        flex-wrap: wrap;
    }
}
.nav {
    display: flex;
    align-items: center;
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px 48px;
        list-style: none;
    }
    &__link {
        font-weight: 500;
        font-size: 18px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #fff;
        transition: .2s color ease-in-out;
        user-select: none;
        &:hover {
            color: $green;
        }
    }
}
.logo {
    display: flex;
    align-items: center;
    gap: 4px;
    user-select: none;
    &__text {
        font-size: 33px;
        line-height: 130%; /* 32/25 */
        font-weight: 600;
        transition: color .2s ease;
    }
    &:hover {
        color: $green;
    }
}