@media (max-width: 1700px) {
    .bg {
        &_promo {
            right: -200px;
        }
    }
    .badge {
        &_hubs {
            &-3 {
                transform: rotate(4deg);
                left: 150px;
                top: auto;
                bottom: -32px;
            }
        }
    }
}

@media (max-width: 1600px) {
    .badge {
        &_hubs {
            &-6 {
                right: 273px;
                bottom: -32px;
            }
            &-7 {
                right: 500px;
                top: auto;
                bottom: -45px;
            }
        }
    }
    .section {
        &_become {
            padding-top: 300px;
            padding-bottom: 280px;
        }
    }
}

@media (max-width: 1480px) {
    .badge {
        &_hubs {
            &-1, &-2, &-8 {
                display: none;
            }
        }
    }
    .decor_1 {
        top: 80px;
        left: 120px;
    }
}
@media (max-width: 1412px) {
    .container {
        padding: 0 12px;
    }
}
@media (max-width: 1320px) {
    .bg {
        &_promo {
            top: 0;
            right: -400px;
        }
        &_become {
            bottom: -48px;
        }
    }
    .section {
        padding-bottom: 90px;
        &_promo {
            padding-top: 40px;
            padding-bottom: 360px;
        }
        &_become {
            padding-top: 200px;
        }
    }
    .decor {
        &_1 {
            display: none;
        }
        &_2 {
            right: 32px;
        }
        &_7 {
            left: 35px;
            bottom: 80px;
        }
        &_9 {
            width: 80%;
        }
    }
    .badge_hubs-7 {
        display: none;
    }
}
@media (max-width: 1140px) {
    .bg {
        &_promo {
            display: none;
        }
    }
    .section {
        &_promo {
            padding-top: 40px;
            padding-bottom: 200px;
        }
        &_what {
            padding-bottom: 80px;
        }
        &_hubs {
            padding-bottom: 140px;
        }
    }
    .cols-2 {
        flex-direction: column;
        &_portfolio {
            flex-direction: column-reverse;
        }
    }
    .promo {
        &__content {
            margin-top: 120px;
        }
    }
    .h1 {
        font-size: 60px;
    }
    .subtitle {
        font-size: 22px;
    }
    .lines {
        &_2, &_3{
            display: none;
        }
    }
    .decor {
        &_3, &_10, &_11, &_5 {
            display: none;
        }
        &_9 {
            left: 50%;
            transform: rotate(2deg) translateX(-50%);
            width: 80%;
        }
    }
    .info-img {
        &-2 {
            transform: none;
            margin-top: 64px;
        }
        &-3 {
            margin-top: 64px;
        }
        &-4 {
            margin-top: 48px;
        }
    }
}
@media (max-width: 1024px) {
    .h2 {
        font-size: 48px;
        margin-bottom: 20px;
    }
    .bg {
        &_become {
            width: 130%;
        }
    }
    .badge_hubs {
        display: none;
    }
    .decor {
        &_2 {
            display: none;
        }
    }
}
@media (max-width: 768px) {
    .short-info {
        &__header {
            transform: rotate(-2deg) translate(-12px, 30px);
        }
    }
    .info-img {
        &-1, &-2, &-5 {
            display: none;
        }
    }
    .decor {
        &_4, &_6, &_7, &_8, &_9 {
            display: none;
        }
    }
    .section {
        &_info {
            &-1, &-2, &-3, &-4, &-5, &-6 {
                padding: 24px 0;
            }
        }
    }
    .bg {
        &_become {
            display: none;
        }
    }
    .glowing {
        &_11, &_12 {
            display: none;
        }
    }
    .footer {
        padding: 12px 0;
        &-nav {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }
}
@media (max-width: 576px) {
    .short-info {
        &__header {
            transform: rotate(-2deg) translate(-6px, 30px);
        }
        &__title {
            font-size: 24px;
        }
    }
    .h1 {
        font-size: 48px;
    }
    .h2 {
        font-size: 36px;
    }
    .text {
        font-size: 16px;
    }
    .subtitle {
        font-size: 20px;
    }
    .form-mailing {
        flex-direction: column;
    }
    .nav {
        &__list {
            gap: 24px 32px;
        }
        &__link {
            font-size: 16px;
        }
    }
}
@media (max-width: 480px) {
    .footer {
        padding-bottom: 24px;
        &__body {
            flex-direction: column;
            align-items: start;
            // justify-content: end;
            height: auto;
            gap: 24px;
        }
    }
}
@media (max-width: 360px) {
    .h1 {
        font-size: 36px;
        margin-bottom: 16px;
    }
    .h2 {
        font-size: 26px;
    }
    .subtitle {
        font-size: 18px;
        margin-bottom: 32px;
    }
    input[type="email"] {
        width: 296px;
    }
    .section {
        &_promo {
            padding-bottom: 120px;
        }
    }
}